/* Report Abuse Widget CSS */
.reportAbusePopupBox
{
	background-color: #F5F5F5;
    border: 1px solid #D2D2D2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 8px #999999;
    color: #323232;
    display: none;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    width: 602px;	
}
.reportAbuseComment
{
	border: 1px solid #E9E9E9;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 60px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    text-align: left;
    width: 595px;
}
.reportAbuseLink
{
	background: url("../images/report-abuse-link.png") no-repeat scroll 10px center transparent;
    color: #0099FF;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 0 10px 0 25px;	
}

.reportabusequestion,.reportabuseanswer{
	border-left: 1px solid #ccc;
}

.reportAbuseLinkHidden
{
	display : none;
	background: url("../images/report-abuse-link.png") no-repeat scroll 10px center transparent;
    color: #0099FF;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 0 10px 0 25px;	
}

#profile-loading-image{
	position: relative;
	text-align: center;
}
.reportAbusePopupBoxSmall
{
	background-color: #F5F5F5;
    border: 1px solid #D2D2D2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 8px #999999;
    color: #323232;
    display: none;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 310px;	
}
.reportAbuseCommentSmall
{
	border: 1px solid #E9E9E9;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 60px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    text-align: left;
    width: 300px;
}

.reportAbuseWrapperUser{
	margin-bottom: 10px;
}